<div class="button-container">
  <button class="tour-btn left-btn" [class.selected]="allToursSelected" (click)="showAllTours()">All Tours</button>
  <button class="tour-btn right-btn" [class.selected]="myToursSelected" (click)="showMyTours()">My Tours</button>
  <button class="tour-btn" *ngIf="isTourist()" [class.selected]="recommendedToursSelected" (click)="showRecommendedTours()">Recommended Tours</button>
  <button class="tour-btn" *ngIf="isAuthor" (click)="newTour()"> Create new tour</button>
</div>


<div class="container">
  <div class="menu-buttons">
    <button class="logout-btn" (click)="logout()">Log Out</button>
    <button class="profile-btn">Profile</button>
  </div>


  <!-- Lista -->
  <div class="tour-list">
    <h2>Tours</h2>
    <!-- filtriranje za korisnika -->
    <div class="filter-buttons"  *ngIf="!isAuthor && recommendedToursSelected">
      <button class="tour-btn" [class.selected]="selectedDifficulty === 0" (click)="setFilterTourist(0)">Easy</button>
      <button class="tour-btn" [class.selected]="selectedDifficulty === 1" (click)="setFilterTourist(1)">Intermediate</button>
      <button class="tour-btn" [class.selected]="selectedDifficulty === 2" (click)="setFilterTourist(2)">Hard</button>
    </div>
    <!-- filtriranje za autora -->
    <div class="filter-buttons" *ngIf="isAuthor && myToursSelected">
      <button class="tour-btn" [class.selected]="filter === 'isDraft'" (click)="setFilter('isDraft')">Drafts</button>
    <button class="tour-btn" [class.selected]="filter === 'isArchieved'" (click)="setFilter('isArchieved')">Archieved</button>
    <button class="tour-btn" [class.selected]="filter === 'isPublished'" (click)="setFilter('isPublished')">Published</button>
  </div>
  <div *ngFor="let tour of filteredTours" class="tour-item" (click)="showDetails(tour)">
    <div class="tour-header">
      <h3>{{ tour.name }}</h3>
      <p class="tour-difficulty">Difficulty: {{ tour.difficulty }}</p>
      <p class="tour-price">Price: ${{ tour.price }}</p>
    </div>
    <p class="tour-description">{{ tour.description }}</p>
    <div class="tour-attribute" *ngIf="isAuthor && (this.filter === '' || tour[filter])">
      <button *ngIf="tour.isDraft  && !allToursSelected" class="author-btn" (click)="publishTour(tour)">Publish</button>
      <button *ngIf="tour.isDraft  && !allToursSelected" class="archieve-btn"  (click)="archiveTour(tour)">Archive</button>
      <button *ngIf="tour.isPublished  && !allToursSelected" class="author-btn" (click)="archiveTour(tour)">Archive</button>
    </div>
    <!-- interesi -->
    <div class="tour-interests" *ngIf="tour.interests && tour.interests.length > 0">
      <p>Interests:</p>
      <ul>
        <li *ngFor="let interestIndex of tour.interests"
            [style.border-color]="interestColorMapping[interestMapping[interestIndex.interestValue]]">
          {{ interestMapping[interestIndex.interestValue] }}
        </li>
      </ul>
    </div>
    <button class="add-to-cart-btn" *ngIf="isTourist()" (click)="addToCart(tour)">Add to Cart</button>
  </div>
  </div>
  
  <!-- Detalji -->
  <div class="details" *ngIf="selectedTour">
    <h2>Tour Details</h2>
    <div class="tour-details-content">
      <h3>{{ selectedTour.name }}</h3>
      <p>{{ selectedTour.description }}</p>
      <!-- Ostali detalji -->
      <p> Keypoints: </p>
      <button *ngIf="selectedTour.isDraft && !allToursSelected" class="author-btn" (click)="addKeypoint(selectedTour)">Add keypoint</button>
      <div *ngFor="let kp of keypoints">
        <p>  {{ kp.name }}</p>
        <p>  {{ kp.description }}</p>
        <p> ------------------------</p>
      </div>
    </div>
  </div>
</div>